@font-face {
    font-family: hfonts;
    src: url(./fonts/tahomabd.ttf);
}

@import 'header.scss';
@import 'main.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p {
    font-size: 14px;
    font-family: "Times New Roman";
    color: #8d8d8d;
}